doctype html
html(lang="en")
  head
      include partials/header

  body.login
    .contenedor-formulario
      h1= nombrePagina
      p Coloca tu Nuevo Password

      .contenedor-formulario
        form.caja-login(method="POST")
          .campo
            label(form="password") Contraseña:
            input(type="password" name="password" placeholder="Nueva Contraseña")

          .campo.enviar
            input.boton(type="submit" value="Restablecer Contraseña")

          .campo
            a(href="/iniciar-sesion")  Ya lo recordé, volver al Login